<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>mlo.weather.app.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C93380A01D0BFCFA00DDF957</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C93380B71D0BFCFA00DDF957</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C93380C21D0BFCFA00DDF957</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
